<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VWScarlettDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>541B6F0F1E9FCDF200E4B658</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>541B6F281E9FCDF200E4B658</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>541B6F331E9FCDF200E4B658</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
